.start-btn {
  color: white;
  background: rgb(25, 183, 251);
  z-index: 1000000;
}

.ui {
  background: white;
  position: fixed;
  left: 0;
  top: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 10px;
}